{{#modal-dialog onClose=(action "closeModal" target=currentRoute)}}
  <h2 class="logo"><span>ShareDrop</span></h2>
  
<div style="color: black;" >
<h3>What is it?</h3>
  <p>
    The Hadamard Hub is a service, <a href="https://hadamard.com">provided by the Hadamard Corporation</a> that allows you to easily and securely transfer files and Cryptocurrencies directly between Hadamard base station's without uploading them to any server first.
  </p>

  <h3>How to use it?</h3>
  <h4>Sharing files between devices in a local network<sup>*</sup></h4>
  <p>
    To send a file to another device in the same local network, open this page (i.e. <a href="https://hub.hadamard.com">hub.hadamard.com</a>) on both devices. Drag and drop a file directly on another person's avatar or click the avatar and select the file you want to send. The file transfer will start once the recipient accepts the file.
  </p>

  <h4>Sharing files between devices in different networks</h4>
  <p>
    To send a file to another device in a different network, click <span class="plus-icon">+</span> button in the upper right corner of the page and follow further instructions.
  </p>

  <h4>VPNs</h4>
  <p>
    Hadamard Hub does not work with VPNs, please deactivate any VPN a device might be using.
  </p>

  <h3>Security</h3>
  <p>Hadamard Hub uses a secure and quantum-resistant encrypted peer-to-peer connection to transfer information about the file (its name and size) and file data itself. This means that this data is never transferred through any intermediate server but directly between the sender and recipient. To achieve this, Hadamard Hub uses a technology called WebRTC (Web Real-Time Communication) and Hadamard's own developed quantum key distribution infrastructure networks. You can read more about WebRTC security <a href="https://bloggeek.me/is-webrtc-safe/">here</a>.</p>

  <h3>Feedback</h3>
  <p>Got a problem with using Hadamard Hub, suggestion how to improve it or just want to say hi? Send an email to <a href="mailto:info@hadamard.com">info@hadamard.com</a> or report an issue on <a href="https://github.com/hadamard/hub/issues">GitHub</a>.</p>
  </div>
  <div class="actions">
    <button {{action "closeModal"}} type="button">Got it!</button>
    <p class="note"><sup>*</sup>Devices need to have the same <a href="https://www.google.com/search?q=what+is+my+ip" target="_blank" rel="noopener noreferrer">public IP</a> to see each other.</p>
  </div>

{{/modal-dialog}}
